<span *ngIf="message == 'REGISTER_SUCCESSFUL'" class="green">
  {{message}}
</span>
<span *ngIf="message == 'PLEASE LOGIN AGAIN'" class="hotpink">
  {{message}}
</span>
<span *ngIf="message == 'INVALID_CREDENTIALS'" class="hotpink">
  {{message}}
</span>
<span *ngIf="message == 'LOGIN_SUCCESSFUL'" class="green">
  {{message}}
</span>
<span *ngIf="message == 'LOGOUT_SUCCESSFUL'" class="green">
  {{message}}
</span>
<span *ngIf="message == 'LIKED'" class="green">
  {{message}}
</span>
<span *ngIf="message == 'UNLIKED'" class="hotpink">
  {{message}}
</span>
<span *ngIf="message == 'NO_USERS_FOUND'" class="hotpink">
  {{message}}
</span>
<span *ngIf="message == 'YOU CAN\'T RATE YOURSELF SILLY'" class="hotpink">
  {{message}}
</span>


