<span *ngIf="message == 'REGISTER_SUCCESSFUL'" class="green">
  {{message}}
</span>
<span *ngIf="message == 'PLEASE_LOGIN_AGAIN'" class="hotpink">
  {{message}}
</span>
<span *ngIf="message == 'INVALID_CREDENTIALS'" class="hotpink">
  {{message}}
</span>
<span *ngIf="message == 'LOGIN_SUCCESSFUL'" class="green">
  {{message}}
</span>
<span *ngIf="message == 'LOGOUT_SUCCESSFUL'" class="green">
  {{message}}
</span>
<span *ngIf="message == 'LIKED'" class="green">
  {{message}}
</span>
<span *ngIf="message == 'UNLIKED'" class="hotpink">
  {{message}}
</span>
<span *ngIf="message == 'RATED'" class="green">
  {{message}}
</span>
<span *ngIf="message == 'NO_USERS_FOUND'" class="hotpink">
  {{message}}
</span>
<span *ngIf="message == 'YOU_CAN\'T_RATE_YOURSELF_SILLY'" class="hotpink">
  {{message}}
</span>
<span *ngIf="message == 'COMMENT_ADDED'" class="green">
  {{message}}
</span>

<span *ngIf="message == 'CHANGES_SAVED'" class="green">
  {{message}}
</span>
<span *ngIf="message == 'DELETE_SUCCESSFUL'" class="green">
  {{message}}
</span>

<!-- generic -->
<span *ngIf="message == 'ERROR_OCCURRED, REFRESH_&_TRY_AGAIN'" class="hotpink">
  {{message}}
</span>
