/* keep */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* unique */
.carousel-img {
    height: 320px;
    width: auto;
    background-image: url(https://bigbook.sgp1.digitaloceanspaces.com/Templates/ef3-placeholder-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: black; */
}
.img-in-carousel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-img-profile {
  max-width: 100%;
  width: 1000px;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.img-in-carousel-profile {
  max-width: 100%;
  object-fit: contain;
}

/* unique */

textarea {
    margin: 0;
    padding-left: 5px;
    width: 100%;
    height: auto;
    font-size: small;
    vertical-align: middle;
    resize: none;
}

mat-card {
  width: 400px;
  height: 560px;
  margin: 5px;
}

mat-card-header {
  width: 368px;
  height: 71px;
}

mat-card-title,
mat-card-subtitle {
  text-align: left;
}

mat-card-content {
  width: 370px;
  height: 100px;
}
/* keep */
