<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- for alphabet filter? how pagination then? -->
  <mat-toolbar style="max-height:40px;">
    <div style="margin-left: auto; margin-right: auto;">
      <table style="width: 100%;">
        <tbody>
          <tr>
            <td style="display: inline-block; color: #BEBEBE; font-size: x-small;">
              Filter:
            </td>
            <td *ngFor="let alp of alphabet"
              style="margin-right: 3px; text-decoration: underline; color: blue; cursor: pointer; display: inline-block; font-size: x-small;"
              (click)="redirectToFilter(alp)">{{ alp | uppercase }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-toolbar>
  <div *ngIf="loading" class="loading-spinner">
    <mat-progress-spinner style="margin-left: auto; margin-right: auto;" diameter="60" color="primary"
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>
  <div class="div-main row justify-content-center ">

    <mat-card *ngFor="let user of devbookUsers">
      <mat-card-header>
        <div mat-card-avatar [routerLink]="['/user', user.id, 'profile']" class="avatar-img"
        style="background-image:url('https://bigbook.sgp1.digitaloceanspaces.com/users/{{ user.id }}/profilephoto.jpg')">
        </div>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>{{ user.currentJob }}</mat-card-subtitle>
      </mat-card-header>
      <!-- images goes here -->
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of user.images">
          <div class="carousel-img picsum-img-wrapper">
            <img class="img-in-carousel" mat-card-image (load)="imgLoaded()"
              [src]="'https://bigbook.sgp1.digitaloceanspaces.com/users/'+user.id+'/'+image.name">
          </div>
          <div class="carousel-caption">
            <!-- 100 character count limit -->
            {{ image.description }}
          </div>
        </ng-template>
        <ng-template ngbSlide *ngIf="!user.images.length">
          <div class="carousel-img picsum-img-wrapper">
            <img class="img-in-carousel" mat-card-image (load)="imgLoaded()"
              src="https://bigbook.sgp1.digitaloceanspaces.com/Templates/ef3-placeholder-image.jpg">
          </div>
          <div class="carousel-caption">
            <!-- 100 character count limit -->
          </div>
        </ng-template>
      </ngb-carousel>
      <mat-card-content>
        <p class="card-caption">
          <!-- 250 character count limit -->
          {{ user.bio }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button [routerLink]="['/user', user.id ,'profile']">
          <mat-icon>perm_contact_calendar</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <!-- QOTD -->
    <div style="margin-top: 5px; font-style: italic; font-size: medium;">
      <p>{{ quote }}</p>
    </div>
    <!-- bottom page pagination -->
    <div style="float: right;">
      <mat-paginator #paginator [length]="ttlUserCount" [pageSize]="6" [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page" (page)="onPageEvent($event)">
      </mat-paginator>
    </div>

  </div>
</body>

</html>
