html,
body {
  z-index: -1;
  max-width: 100%;
  overflow-x: hidden;
}

.profile {
  display: inline;
  border: 5px solid #D3D3D3;
  margin: auto;
}

.div-main {
  text-align: center;
  background-color: #D3D3D3;
}

.avatar-img {
  overflow: hidden;
  background-image: url(https://bigbook.sgp1.digitaloceanspaces.com/Templates/profile-placeholder.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.avatar-img:hover {
  cursor: pointer;
}

mat-card {
  width: 400px;
  height: 560px;
  margin: 5px;
}

mat-card-header {
  width: 368px;
  height: 71px;
}

mat-card-title,
mat-card-subtitle {
  text-align: left;
}

mat-card-content {
  width: 370px;
  height: 100px;
}

.carousel-img {
  height: 320px;
  width: auto;
  background-image: url(https://bigbook.sgp1.digitaloceanspaces.com/Templates/ef3-placeholder-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: black; */
}

.img-in-carousel {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.card-caption {
  height: inherit;
  display: block;
  padding: 10px;
}

.loading-spinner {
  width: 100%;
  height: auto;
  /* margin: auto; */
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
  position: fixed;
}
