/* keep */
html,
body {
  z-index: -1;
  max-width: 100%;
  overflow-x: hidden;
}

/* unique */
.carousel-img {
  height: 320px;
  width: auto;
  background-image: url(https://bigbook.sgp1.digitaloceanspaces.com/Templates/ef3-placeholder-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: black; */
}
.img-in-carousel {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* unique */
/* keep */

