<div>
  <div>
    <mat-toolbar color="primary">
      <img [routerLink]="['']" (click)="toggleDrawer()" class="logo" src="https://bigbook.sgp1.digitaloceanspaces.com/Templates/logo5.jpg">
      <button mat-icon-button (click)="sidenavDrawer.toggle()">
        <mat-icon>list</mat-icon>
      </button>
      <input [(ngModel)]="searchTerm" style="min-width: 150px;" placeholder="Search user"
        (keydown.enter)="searchUser()">

      <span style="flex: 1 1 auto;"></span>

      <button mat-fab color="primary" #notificationsTrigger *ngIf="currentUser" (click)="openNotificationsPanel()"
      [matMenuTriggerFor]="notificationsPanel">
        <mat-icon>notification_important</mat-icon>
        <span *ngIf="newNotificationsCount > 0" class="notification-count">{{ newNotificationsCount }}</span>
      </button>
    </mat-toolbar>
  </div>
  <div>
    <mat-drawer-container class="sidenav-container" autosize>
      <mat-drawer #sidenavDrawer class="sidenav" mode="over">
        <h2 style="color: white;">Welcome to Devbook<span *ngIf="currentUser">, {{currentUser.name}}</span></h2>
        <div>
          <button mat-raised-button color="accent" type="button" [routerLink]="['']" (click)="sidenavDrawer.toggle()"
            style="margin: 1% 0% 1% 1%;">Home</button>
        </div>
        <button mat-raised-button color="accent" type="button" *ngIf="!currentUser" [routerLink]="['/login']"
          (click)="sidenavDrawer.toggle()" style="margin: 1% 0% 1% 1%;">Login</button>
        <button mat-raised-button color="accent" type="button" *ngIf="!currentUser" [routerLink]="['/register']"
          (click)="sidenavDrawer.toggle()" style="margin: 1% 0% 1% 1%;">Register</button>
        <button mat-raised-button color="accent" type="button" *ngIf="currentUser"
          (click)="goToProfile()" style="margin: 1% 0% 1% 1%;">Profile</button>
        <button mat-raised-button color="accent" type="button" *ngIf="currentUser"
          (click)="logout()" style="margin: 1% 0% 1% 1%;">Logout</button>
        <div>
          <button mat-raised-button color="accent" type="button" [routerLink]="['/catalogue']" (click)="sidenavDrawer.toggle()"
            style="margin: 1% 0% 1% 1%;">Catalogue</button>
        </div>

      </mat-drawer>
      <!-- content project main body -->
      <div *ngIf="loading" class="loading-spinner">
        <mat-progress-spinner
        style="margin-left: auto; margin-right: auto;"
              diameter="60"
              color="primary"
              [mode]="'indeterminate'">
          </mat-progress-spinner>
      </div>
      <div>
        <ng-content></ng-content>
      </div>
    </mat-drawer-container>
  </div>
</div>
<!-- for notification panel -->
<!-- click > retrieve notification > populate -->
<mat-menu #notificationsPanel="matMenu">
      <button mat-menu-item *ngFor="let notification of userNotifications" (click)="notificationClicked()" [value]="'notification 1'">
        {{ notification.name }} {{notification.content}}
      </button>
      <button mat-menu-item *ngIf="noNotifications" type="button">No notifications available.</button>
</mat-menu>
