<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="border-margin-parent">
    <div style="text-align: right;">
      <button mat-button (click)="accordion.openAll()">Expand All</button>
      <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <div *ngIf="loading" class="loading-spinner">
      <mat-progress-spinner
      style="margin-left: auto; margin-right: auto;"
            diameter="60"
            color="primary"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
    </div>

    <mat-accordion style="justify-content: space-between; align-items: center;" multi>

      <!-- First Panel Form -->
      <form [formGroup]="firstPanelFormGrp" enctype="multipart/form-data">
        <!-- First Panel, Change Profile Photo -->
        <mat-expansion-panel>
          <!-- First Panel Headers -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              Account
            </mat-panel-title>
            <mat-panel-description style="justify-content: space-between; align-items: center;">
              Edit Information
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- First Panel Form Fields -->
          <mat-divider></mat-divider>
          <div style="text-align: center;">
            <table class="table-properties">
              <tbody>
                <tr>
                  <td class="portrait-properties">
                    <img class="portrait rounded-circle" [src]="profilePhotoSrc" alt="Portrait">
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- Profile Picture -->
            <mat-error *ngIf="errorProfilePhoto" style="margin-top: 10px;">Image filetype only and filesize below 1.05mb!</mat-error>
            <div class="input-group mb-3" style="margin-top: 10px;">
              <label class="input-group-text" for="inputProfilePhoto">Profile Photo</label>
              <input #inputProfilePhoto type="file" accept="image/*" class="form-control" id="inputProfilePhoto"
                (change)="readFileType($event)">
            </div>
            <mat-form-field style="display: block;" appearance="fill">
              <mat-label>Biography</mat-label>
              <textarea matInput type="text" #bio maxlength="250" required formControlName="bio"
                placeholder="Tell us about yourself!"></textarea>
              <mat-hint>Max 250 characters</mat-hint>
              <mat-hint align="end">{{ bio.value.length }} / 250</mat-hint>
            </mat-form-field>
            <button mat-button class="save-icon" type="button" (click)="saveFirstPanel()" [disabled]="errorProfilePhoto"><mat-icon>save</mat-icon></button>
          </div>
        </mat-expansion-panel>
      </form>

      <!-- Second Panel Form -->
      <form [formGroup]="secondPanelFormGrp">
        <!-- Second Panel, Current Occupation Details -->
        <mat-expansion-panel>
          <!-- Second Panel Headers -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              Occupation
            </mat-panel-title>
            <mat-panel-description style="justify-content: space-between; align-items: center;">
              Edit Position & Education
              <mat-icon>work</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- Second Panel Form Fields -->
          <mat-divider></mat-divider>
          <div style="text-align: center; align-items: center;">
            <mat-form-field style="width: 49%; margin-right: 3px;" appearance="fill">
              <mat-label>Current Role</mat-label>
              <input matInput formControlName="currentJob">
            </mat-form-field>
            <mat-form-field style="width: 49%; margin-left: 3px;" appearance="fill">
              <mat-label>Current Company</mat-label>
              <input matInput formControlName="currentCompany">
            </mat-form-field>
            <mat-form-field style="display: block;" appearance="fill">
              <mat-label>Previous Company</mat-label>
              <input matInput type="email" formControlName="previousCompany">
            </mat-form-field>
            <mat-form-field style="display: block;" appearance="fill">
              <mat-label>Highest/Relevant Certification</mat-label>
              <input matInput required formControlName="education">
            </mat-form-field>
            <button mat-button class="save-icon" type="button" (click)="saveSecondPanel()"><mat-icon>save</mat-icon></button>
          </div>
        </mat-expansion-panel>
      </form>

      <!-- Third Panel Form -->
      <form [formGroup]="thirdPanelFormGrp">
        <!-- Third Panel, Skills & Proficiency -->
        <mat-expansion-panel style="text-align: center;">
          <!-- Third Panel Headers -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              Know-how
            </mat-panel-title>
            <mat-panel-description style="justify-content: space-between; align-items: center;">
              Edit Skills & Proficiency
              <mat-icon>school</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- Third Panel Form Fields -->
          <mat-divider></mat-divider>
          <div style="text-align: right;">
            <button mat-button type="button" style="color: GREY" (click)="pushSkillsArray()">+</button>
          </div>
          <div *ngFor="let skill of skillsArray.controls; let i = index;" [formGroup]="skill"
            style="text-align: center; align-items: center;">
            <mat-form-field style="margin-left: 4px; margin-bottom: 8px;" appearance="fill">
              <mat-label>Skill {{ i+1 }}</mat-label>
              <input matInput #skillName maxlength="10" formControlName="name"
                placeholder="Language, frameworks, libraries">
              <mat-hint>Max 10 characters</mat-hint>
              <mat-hint align="end">{{ skillName.value.length }} / 10</mat-hint>
            </mat-form-field>
            <mat-form-field style="margin-left: 4px; margin-bottom: 8px; width: 4rem;" appearance="fill">
              <mat-select formControlName="rating">
                <mat-option [value]="1">1 - Poor</mat-option>
                <mat-option [value]="2">2 - Below Average</mat-option>
                <mat-option [value]="3">3 - Average</mat-option>
                <mat-option [value]="4">4 - Above Average</mat-option>
                <mat-option [value]="5">5 - Pro</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button type="button" (click)="deleteSkill(i)">
              <mat-icon style="color: grey;">delete</mat-icon>
            </button>
          </div>
          <button mat-button class="save-icon" type="button" (click)="saveThirdPanel()" [disabled]="thirdPanelFormGrp.invalid"><mat-icon>save</mat-icon></button>
        </mat-expansion-panel>
      </form>

      <!-- Fourth Panel Form -->
      <form [formGroup]="fourthPanelFormGrp">
        <!-- Fourth Panel, Websites -->
        <mat-expansion-panel style="text-align: center;">
          <!-- Fourth Panel Headers -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              Portfolio
            </mat-panel-title>
            <mat-panel-description style="justify-content: space-between; align-items: center;">
              Edit Socials & Websites
              <mat-icon>language</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- Fourth Panel Form Fields -->
          <mat-divider></mat-divider>
          <div style="text-align: right;">
            <button mat-button type="button" style="color: GREY" (click)="pushWebsitesArray()">+</button>
          </div>
          <div *ngFor="let website of websitesArray.controls; let i = index;" [formGroup]="website"
            style="text-align: center; align-items: center;">
            <mat-form-field style="margin-left: 4px; margin-bottom: 8px; width: 7rem;" appearance="fill">
              <mat-label>Web {{ i+1 }}</mat-label>
              <input matInput #webName maxlength="15" formControlName="name" placeholder="Socials, github, apps..">
              <mat-hint>Max</mat-hint>
              <mat-hint align="end">{{ webName.value.length }} / 15</mat-hint>
            </mat-form-field>
            <mat-form-field style="margin-left: 4px; margin-bottom: 8px; " appearance="fill">
              <mat-label>Link</mat-label>
              <input matInput formControlName="url">
              <mat-hint align="end">Github, LinkedIn, Facebook etc</mat-hint>
            </mat-form-field>
            <button mat-icon-button type="button" (click)="deleteWebsite(i)">
              <mat-icon style="color: grey;">delete</mat-icon>
            </button>
          </div>
          <button mat-button class="save-icon" type="button" (click)="saveFourthPanel()" [disabled]="fourthPanelFormGrp.invalid"><mat-icon>save</mat-icon></button>
        </mat-expansion-panel>
      </form>

        <!-- Fifth Panel, Screenshots -->
        <mat-expansion-panel style="text-align: center;">
          <!-- Fifth Panel Headers -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              Showcase
            </mat-panel-title>
            <mat-panel-description style="justify-content: space-between; align-items: center;">
              Edit Screenshots
              <mat-icon>camera</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- Fifth Panel Form Fields -->
          <!-- First Image Upload -->
          <!-- frame and pic-in-frame always show either placeholder or prev uploaded img -->
          <div class="frame">
            <img class="picture-in-frame" [src]="image01Src" (load)="imgLoaded()">
          </div>
          <!-- if there is a prev uploaded img show it (with delete btn) -->
          <div *ngIf="img01Avail">
            <button mat-icon-button type="button" class="thumbs-up-icon" (click)="deleteUploadedImg('image01')"><mat-icon>delete</mat-icon></button>
            <mat-form-field style="display: block;" appearance="fill">
              <mat-label>Description 01</mat-label>
              <textarea matInput type="text" #description [(ngModel)]="image01Desc" maxlength="100"
                placeholder="Caption the image!"></textarea>
              <mat-hint>Max 100 characters</mat-hint>
              <mat-hint align="end">{{ description.value.length }} / 100</mat-hint>
            </mat-form-field>
          </div>
          <!-- else will show a placeholder img and ask to upload -->
          <mat-error *ngIf="errorFile01" style="margin-top: 10px;">Image filetype only and filesize below 1.05mb!</mat-error>
          <div *ngIf="!img01Avail">
            <div class="input-group mb-3" style="margin-top: 10px;">
              <label class="input-group-text" for="inputFile01">Upload 01</label>
              <input #inputFile01 type="file" accept="image/*" class="form-control" id="inputFile01"
                (change)="readFileType($event)">
            </div>
            <mat-form-field style="display: block;" appearance="fill">
              <mat-label>Description 01</mat-label>
              <textarea matInput type="text" #description [(ngModel)]="image01Desc" maxlength="100"
                placeholder="Caption the image!"></textarea>
              <mat-hint>Max 100 characters</mat-hint>
              <mat-hint align="end">{{ description.value.length }} / 100</mat-hint>
            </mat-form-field>
          </div>
          <mat-divider style="margin-top: 5px; margin-bottom: 5px;"></mat-divider>
          <!-- Second Image Upload -->
          <!-- frame and pic-in-frame always show either placeholder or prev uploaded img -->
          <div class="frame">
            <img class="picture-in-frame" [src]="image02Src" (load)="imgLoaded()">
          </div>
          <!-- if there is a prev uploaded img show it (with delete btn) -->
          <div *ngIf="img02Avail">
            <button mat-icon-button type="button" class="thumbs-up-icon" (click)="deleteUploadedImg('image02')"><mat-icon>delete</mat-icon></button>
            <mat-form-field style="display: block;" appearance="fill">
              <mat-label>Description 02</mat-label>
              <textarea matInput type="text" #description [(ngModel)]="image02Desc" maxlength="100"
                placeholder="Caption the image!"></textarea>
              <mat-hint>Max 100 characters</mat-hint>
              <mat-hint align="end">{{ description.value.length }} / 100</mat-hint>
            </mat-form-field>
          </div>
          <!-- else will show a placeholder img and ask to upload -->
          <mat-error *ngIf="errorFile02" style="margin-top: 10px;">Image filetype only and filesize below 1.05mb!</mat-error>
          <div *ngIf="!img02Avail">
            <div class="input-group mb-3" style="margin-top: 10px;">
              <label class="input-group-text" for="inputFile01">Upload 02</label>
              <input #inputFile02 type="file" accept="image/*" class="form-control" id="inputFile02"
                (change)="readFileType($event)">
            </div>
            <mat-form-field style="display: block;" appearance="fill">
              <mat-label>Description 02</mat-label>
              <textarea matInput type="text" #description [(ngModel)]="image02Desc" maxlength="100"
                placeholder="Caption the image!"></textarea>
              <mat-hint>Max 100 characters</mat-hint>
              <mat-hint align="end">{{ description.value.length }} / 100</mat-hint>
            </mat-form-field>
          </div>
          <mat-divider style="margin-top: 5px; margin-bottom: 5px;"></mat-divider>
          <!-- Third Image Upload -->
          <!-- frame and pic-in-frame always show either placeholder or prev uploaded img -->
          <div class="frame">
            <img class="picture-in-frame" [src]="image03Src" (load)="imgLoaded()">
          </div>
          <!-- if there is a prev uploaded img show it (with delete btn) -->
          <div *ngIf="img03Avail">
            <button mat-icon-button type="button" class="thumbs-up-icon" (click)="deleteUploadedImg('image03')"><mat-icon>delete</mat-icon></button>
            <mat-form-field style="display: block;" appearance="fill">
              <mat-label>Description 03</mat-label>
              <textarea matInput type="text" #description [(ngModel)]="image03Desc" maxlength="100"
                placeholder="Caption the image!"></textarea>
              <mat-hint>Max 100 characters</mat-hint>
              <mat-hint align="end">{{ description.value.length }} / 100</mat-hint>
            </mat-form-field>
          </div>
          <!-- else will show a placeholder img and ask to upload -->
          <mat-error *ngIf="errorFile03" style="margin-top: 10px;">Image filetype only and filesize below 1.05mb!</mat-error>
          <div *ngIf="!img03Avail">
            <div class="input-group mb-3" style="margin-top: 10px;">
              <label class="input-group-text" for="inputFile01">Upload 03</label>
              <input #inputFile03 type="file" accept="image/*" class="form-control" id="inputFile03"
                (change)="readFileType($event)">
            </div>
            <mat-form-field *ngIf="inputFile03.value.length && !errorFile03" style="display: block;" appearance="fill">
              <mat-label>Description 03</mat-label>
              <textarea matInput type="text" #description [(ngModel)]="image03Desc" maxlength="100"
                placeholder="Caption the image!"></textarea>
              <mat-hint>Max 100 characters</mat-hint>
              <mat-hint align="end">{{ description.value.length }} / 100</mat-hint>
            </mat-form-field>
          </div>
          <mat-divider style="margin-top: 5px; margin-bottom: 5px;"></mat-divider>
          <button mat-button class="save-icon" type="button" (click)="saveFifthPanel()" [disabled]="errorFile01 || errorFile02 || errorFile03"><mat-icon>save</mat-icon></button>
        </mat-expansion-panel>
    </mat-accordion>
  </div>
</body>

</html>
