<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Devbook</title>
</head>

<body>
  <div *ngIf="loading || pageLoading" class="loading-spinner">
    <mat-progress-spinner
    style="margin-left: auto; margin-right: auto;"
          diameter="60"
          color="primary"
          [mode]="'indeterminate'">
      </mat-progress-spinner>
  </div>

  <div *ngIf="!pageLoading" class="border-margin-parent">
    <mat-icon *ngIf="sameUser" class="edit-button" [routerLink]="['/user',user.id,'edit']">edit</mat-icon>
    <table class="table-properties">
      <tbody>
        <tr>
          <td colspan="2" class="portrait-properties">
            <img class="portrait rounded-circle"
              [src]="'https://bigbook.sgp1.digitaloceanspaces.com/users/'+user.id+'/profilephoto.jpg'" alt="Portrait">
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <ngx-material-rating [dense]="true" [max]="5" [color]="'accent'" [(ngModel)]="ratingValue" (click)="ratePressed()">
            </ngx-material-rating>
          </td>
        </tr>
        <tr>
          <td style="width: 50%; font-size: small;" align="right">
              {{ user.likes }}
          </td>
          <td style="width: 50%;" align="left">
            <mat-icon class="thumbs-up-icon" (click)="likePressed()">thumb_up</mat-icon>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <img src="assets\Images\double-quotation-marks-open.png" alt="open quotation mark" class="open-quotation">
            <p class="caption">{{ user.bio }}</p>
            <img src="assets\Images\double-quotation-marks-close.png" alt="close quotation mark"
              class="close-quotation">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!pageLoading" class="border-margin-child">
    <table class="table-properties">
      <tbody>
        <tr>
          <td colspan="2" class="name">
            {{ user.name }}
            <button mat-icon-button style="vertical-align: middle;" type="button">
              <mat-icon class="thumbs-up-icon">email</mat-icon>
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="title">
            {{ user.currentJob }}
          </td>
        </tr>
        <tr>
          <td style="width: 40%;" align="right">
            <p class="category">Current</p>
          </td>
          <td>
            <p class="cell-properties">{{ user.currentCompany }}</p>
          </td>
        </tr>
        <tr>
          <td align="right">
            <p class="category">Previous</p>
          </td>
          <td>
            <p class="cell-properties">{{ user.previousCompany }}</p>
          </td>
        </tr>
        <tr>
          <td align="right">
            <p class="category">Education</p>
          </td>
          <td>
            <p class="cell-properties">{{ user.education }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!pageLoading" class="border-margin-child">
    <table class="table-properties">
      <tbody>
        <tr>
          <td colspan="2" class="portfolio">
              Websites
          </td>
        </tr>
        <tr>
          <td colspan="2" class="website">
            <div style="display: inline;" *ngFor="let website of user.websites; let i = index;">
              <a [href]="website.url">{{ website.name }}</a>
              <span *ngIf="i+1 < user.websites.length">, </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!pageLoading" class="border-margin-child">
    <table class="table-properties">
      <tbody>
        <tr>
          <td colspan="2" class="portfolio">
            Skills & Proficiency
          </td>
        </tr>
        <tr *ngFor="let skill of user.skills">
          <td style="width: 45%; padding-right: 5px;" align="right">
            <p class="category">{{ skill.name }}</p>
          </td>
          <td style="text-align: left;">
            <ngx-material-rating [dense]="true" [readonly]="true" [color]="'warn'" [max]="5" [value]="skill.rating">
            </ngx-material-rating>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!pageLoading" class="border-margin-child">
    <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false">
      <ng-template ngbSlide *ngFor="let image of user.images">
        <div class="picsum-img-wrapper carousel-img">
          <img class="img-in-carousel" (load)="imgLoaded()"
            [src]="'https://bigbook.sgp1.digitaloceanspaces.com/users/'+user.id+'/'+image.name">
        </div>
        <div class="carousel-caption">
          <p>{{ image.description }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div *ngIf="!pageLoading" class="border-margin-child">
    <table class="table-properties" *ngIf="!currentUser">
      <tbody>
        <tr>
          <td>
            <p style="color: grey; font-size: smaller;">Please <span
                style="color: blue; text-decoration: underline; cursor: pointer" (click)="routeToLogin()">login</span>
              to comment</p>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table-properties" *ngIf="currentUser">
    <tbody>
      <tr>
        <td>
          <textarea [(ngModel)]="textAreaInput" #textAreaRef placeholder="Add a comment"
            id="commentTextArea"></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <button mat-mini-fab type="button" color="primary" style="float: right; transform: scale(0.75);" (click)="addComment()"
            [disabled]="!(textAreaRef.value.length > 0)">
            <mat-icon>rate_review</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <div *ngIf="!pageLoading" class="border-margin-child">
    <div *ngFor="let comment of user.comments" style="margin-bottom: 10px;">
        <img [src]="'https://bigbook.sgp1.digitaloceanspaces.com/users/'+comment.id+'/profilephoto.jpg'" class="rounded-circle"
            style="height: 50px; width: 50px; object-fit: cover; float: left; margin-right: 3px;">
        <div
            style="border: 1px solid #cfd8dc; border-radius: 5px; padding-left: 5px; padding-right: 5px; margin-left: 55px; margin-bottom: 5px; font-size: x-small; font-weight: bold; background-color: #cfd8dc;">
            {{ comment.name }}
            <p style="font-size: small; font-weight: normal; max-width: inherit;">
                {{ comment.text }}
            <p>
        </div>
    </div>
</div>
</body>

</html>
